* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
}

h1 {
    font-size: 2rem;
    color: #6a040f;
}

#pio {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 20vh;
}

.tarjeta img {
    max-width: 100%;
}

.container {
    padding: 10px 30px;
}

.tarjeta {
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.tarjeta h2 {
    color: #9d0208;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background-color: #6A040F;
    color: white;
}

@media(min-width:769px) {

    .tarjeta {
        width: 30%;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .tarjeta {
        margin-right: 15px;
    }

    .tarjeta img {
        height: 270px;
        width: 300px;
    }
}
