* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    line-height: 1.6;
}

header {
    background-color: white;
    color: #6A040F;
    padding: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 120px;
}

.contenedor {
    width: 80%;
    margin: 0 auto;
}

.mbar {
    height: 4rem;
    height: 4rem;
    float: left;
    margin-top: 10px;
}

nav {
    position: relative;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    width: 100%;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
    display: block;
}


nav ul li ul li {
    width: 200px;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li a {
    padding: 10px;
}

nav ul li a:hover {
    transition: background-color 0.3s;
}

nav ul {
    width: 100%;
    background: rgba(255,255,255, 0.6) ;
    border-radius: 5px;
    position: absolute;
    top: 50px;
    left: 0;
    width: 50%;

}

nav ul{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#menulista {
    overflow: hidden;
    transition: 0.3s;
}

.mbar {
    width: 70px;
    height: 50px;
    position: relative;
    cursor: pointer;
}

.mbar span {
    display: block;
    position: absolute;
    height: 10px;
    width: 100%;
    border-radius: 3px;
    opacity: 1;
    left: 0;
}

.mbar span:nth-child(1) {
    top: 0px;
    background-color: #6a040f; /* Color for the first bar */
}

.mbar span:nth-child(2) {
    top: 25px;
    background-color: #9d0208; /* Color for the second bar */
}

.mbar span:nth-child(3) {
    top: 50px;
    background-color: #D00000; /* Color for the third bar */
}

@media(min-width: 800px) {

    .mbar {
        display: none;
    }

    header {
        height: 100px;
    }


    header .contenedor {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #menulista {
        overflow: visible;
    }

    nav ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin-top: 0px;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    nav ul li:nth-child(1) a:hover {
        color: #9d0208;
        transition: background-color 0.3s;
    }

    nav ul li:nth-child(2) a:hover {
        color: #DC2F02;
        transition: background-color 0.3s;
    }

    nav ul li:nth-child(3) a:hover {
        color: #F48C06;
        transition: background-color 0.3s;
    }

    nav ul li:nth-child(4) a:hover {
        color: #ffba08;
        transition: background-color 0.3s;
    }

}







