* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    background-color: #02010A;
    color: white;
}

nav{
    height: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    height: 100%;
}

nav li{
    display: flex;
    align-items: center;
    height: 100%;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    height: 100%;
}


nav li:hover{
    background-color: #0D00A4;
    transition: background-color 0.3s ease ;

}



/*responsive */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav li {
        width: 100%;
    }
}